@import "tailwindcss";

@theme {
  --font-sans: "Oswald", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-teko: "Teko", sans-serif;
}

body {
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.02em;
}
